@import 'library/normalize';
@import 'library/responsive';
@import 'components/icons';


@mixin ir() {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}



html, body {
	font-family: "Raleway", sans-serif;
	background: #396BC8;
}

.amp {
	font-size: 80%;
}

.main {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 3px;
	padding: 0 30px;

	// Pattern
	&:before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background: url(../images/bg-pattern.svg) repeat;
		background-size:300px 300px;

		z-index: -1;
		opacity: .6;


	}
}

.card {
	position: absolute;
	top: 50%;
	width: calc(100% - 60px);
	transform: translate(0, -50%);
}


.title {
	//position: absolute;
	z-index: 20;
	text-align: center;
	margin-bottom: 30px;
}



h1 {
	color: #FFF;
	margin-bottom: 0px;
	font-weight: 400;
	font-size: 38px;
	letter-spacing: 2px;
}

h2 {
	margin-top: 5px;
	font-weight: 600;
	color: #5BD8F7;
	font-size: 18px;
	font-weight: 500;
	font-family: "Lato", sans-serif;
	font-style: italic;
	letter-spacing: 1px;
}

.documents {
	text-align: center;
}

.btn {
	display: inline-block;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #5BD8F7;
	border-radius: 5px;
	padding: 12px 20px;
	width: 90px;
	font-size: 14px;
	margin: 0 5px;
	background: #396BC8;
	transition: all .5s ease;

	span {
		font-family: Lato, sans-serif;
		font-style: italic;
		color: #5BD8F7;
	}

	&:hover {
		background: rgba(#305DB3, .5);
		border: 1px solid #FFF;
	}
}

.social {
	text-align: center;
	margin: 20px 0 0 0;
	padding: 0;

	li {
		display: inline-block;
		list-style: none;
		margin: 10px 5px;
		padding: 0;

	}

	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		font-size: 24px;
		width: 26px;
		height: 26px;
		opacity: .5;
		transition: all .5s ease;

		&:hover {
			opacity: 1;
		}
	}
}

